extends layout
block content
  .login-container
    form.login-form(action="/login" method="POST")
      h2 Login to Editor
      if error
        .error-message= error
      input(type="hidden" name="returnTo" value=returnTo)
      .editor-form-group
        label(for="username") Username
        input#username.form-control(
          type="text"
          name="username"
          required
          placeholder="Enter your username"
        )
      .editor-form-group
        label(for="password") Password
        input#password.form-control(
          type="password"
          name="password"
          required
          placeholder="Enter your password"
        )
      
      if turnstileEnabled
        .editor-form-group
          div.cf-turnstile(
            data-sitekey=turnstileSiteKey
          )
      
      .editor-form-group
        button.btn.btn-primary(type="submit") Login

  if turnstileEnabled
    script(src='https://challenges.cloudflare.com/turnstile/v0/api.js' async defer)